Require all granted
Options +Indexes
RewriteEngine on
RewriteRule ^index.html$ index.php?path=index&content=home  [L]
RewriteRule ^([\w\/]+)(?:<(.*))?$ index.php?path=index&content=$1&$2 [L]
RewriteRule \.(yml|conf)$ - [R=404,NC,L]
RewriteRule ^\.git(/?|/.*)$ - [R=404,NC,L]
