table.data
{
  position: relative;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}


table.data>thead>tr
{
  vertical-align: bottom;
  text-align: left;
}

table.data>thead>tr>td
{
  border-bottom: 1px solid whitesmoke;
}


table.data>tbody>tr
{
  border-bottom: 1px solid #DFDFDF;
  height: 24px;
  vertical-align: top;
}

table.data>tbody>tr>td
{
  border-bottom: 1px solid #DFDFDF;
  white-space: nowrap; overflow: hidden;  }
}

table.data thead>tr>th
{
  padding: 1px;
  font-weight: 100;
}

table.data>tbody>tr>td
{
  padding: 0px 4px;
  vertical-align: center;
  background-repeat:no-repeat;
  background-position: center;
}

table.data>tdata tr.actions,
table.data>thead .heading
{
  float: left;
  display: inline-block;
  font-size: 14pt;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 20px;
}

table.data .paging
{
  float: right;
}

table.data .paging *
{
  margin-right: 1px;
  display: inline-block;
}
table.data .paging div
{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10pt;
}

table.data .paging input
{
  width: 26px;
  height: 26px;
  text-align: center;
}

table.data .paging [action]
{
  padding: 5px 10px;
}


table.data th>div
{
  display: inline-block;
  padding:2px;
}

table.data th[sort]
{
  cursor: pointer;
  background-position: center;
  background-size: 100% 100%;
}

table.data th[sort='asc']
{
  background-image:url('arrow_up.png');
}
table.data th[sort='desc']
{
  background-image:url('arrow_down.png');
}

table.data .header [action=filter]
{
  float: left;
  width: 72px;
  height: 30px;
  cursor: pointer;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url('filter_add32.png');
}

table.data .filtering[on]
{
  background-image:url('filter_del32.png');
}

table.data .filter input
{
  height: 20px;
}

table.data tr.sort
{
  cursor: pointer;
}

table.data td.actions {
  padding: 0px;
}

table.data>tbody>tr.expanded>td
{
  padding: 10px;
  font-size: 9pt;
  width: 100%;
}

table.data tr.expanded>td>*
{
  width: 100%;
}

table.data tr [action]
{
  font-size: 10pt;
  font-weight: 200;
  cursor: pointer;
  text-align: center;
  padding: 0px 3px;
  border-radius: 0;
  height: 100%;
}

table.data tr [action]:hover
{
  opacity: 1;
}

table.data td.expandable [action]
{
  height: 100%;
  font-family: monospace;
  font-size: 12pt;
  font-weight: 100;
  border-right: 1px solid lightgray;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

table.data tr [action=slide]
{
  float: right;
  height: 100%;
}


table.data .slide
{
  position: absolute;
  float: right;
  right: 0px;
  height: 100%;
  cursor: pointer;
}
table.data .slide>[action]
{
  display: inline-block;;
  float: left;
}

table.data thead div
{
  display: inline-block;
}

table.data td>input
{
  width: 100%;
  height: 100%;
}

table.data td>.actions>*
{
  height: 100%;
}


table.data tr.actions [action]
{
  float: left;
}

table.data>tfoot tr
{
  height: 30px;
  line-height: 30px;
}

table.data .hidden {
  display: none;
}
