/*
Copyright Expression year is undefined on line 4, column 29 in file:///Users/fhulu/Documents/code/common/nbproject/licenseheader.txt. Mukoni Software. 
*/
/* 
    Created on : 19 Jan 2015, 7:56:57 PM
    Author     : fhulu
*/

.file_uplaoder
{
  position: relative;
}

.file_uploader .progress 
{ 
  position:relative; 
  width:100%; 
/*  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey; 
  padding: 1px; 
  border-radius: 3px; */
}

.file_uploader .bar 
{ 
  background-color: lime; 
  width:0%; 
  height:20px; 
  border-radius: 3px; 
}
.file_uplaoder .percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}

.file_uploader iframe
{
  width: 0px;
  height: 0px;
  border: 0px;
}

.file_uploader form
{
  display: inline;
  width: 80%;
}

.file_uploader button
{
  float: right;
/*  display: inline-block;
  position: absolute;
  right: 0px;*/
  margin-right: 0px;
}