.labelled-input
{
  margin-bottom: 6px;
  width: 100%;
}

.labelled-input>.label
{
  vertical-align: top;
  text-align: right;
  width: 24%;
  display: inline-block;
  font-size: 11pt;
  font-weight: 100;
}

.labelled-input>.input
{
  display: inline-block;
  margin-left: 1%;
  width: 74%;
}

.labelled-input+.actions
{
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 26%;
  width: 74%;
}
