body {
    text-align: center;
}

div.controls
{
  position: absolute;
  left: 130px;
  width: 55%;
  border: 0px solid blue;
}

div.line
{
  padding: 1px;
  height: 22px;
  border: 0px solid black;
}

div.dropdown
{
  position:relative;
  top:0;
  left:0;
  border:0px solid grey;
  width: 270px;
  z-index:5;
  font-size: 10px;
}

div.error {
      
      padding:5px 10px 5px 30px;
      color:#FFF;
      font-weight:bold;
      border:2px solid #CCCC99;
      margin:10px 0 5px 10px;
    }
    .validation-advice {
      
      color:#9E2522;
      font-size:85%;
      padding:8px 0 5px 22px;
    }

input[type=text] 
{
width: 170px;
height: 30px;
}
input[type=password]
{
width: 170px;
height: 30px;
} 

input :hover,  
input:focus
{  
  border-color: #000000; 
  border: 2px solid #ff0000;
} 
input{border-color: #000000; }
input[type='submit'],[type='reset'] 
{
  cursor:pointer;
  padding: 4px 15px;
  
}

table.game
{
  position: relative;
  border: 1px solid #c3c3c3;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width:60%;
}

table.game th
{
  background-color: #c3c3c3;
  border: 1px solid #a0a0a0;
  padding: 3px;
  vertical-align: top;
  font-size: 13px;
}
table.game td
{
  border: 1px solid #c3c3c3;
  padding: 3px;
  vertical-align: top;
  font-size: 12;
}
table.game tr td
{
  background-color: #FEFED8;
}
table.game tr.alt td
{
  background-color: #FEFEF8;
}
table.game tr td
{
  background-color: #FEFED8;
}
table.game tr.alt td
{
  background-color: #FEFEF8;
}


table.dropdown
{
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: left;
  width:270px;
  z-index:5;
}

table.dropdown tr
{
  border: 1px solid grey;
  background-color: #FEFED8;
}
table.dropdown tr:hover
{
  background-color: #a0f000;
}
table.dropdown tr.nav
{
  background-color: #c3c3c3;
}

table.game tr.d0:hover td,
table.game tr.d1:hover td,
table.game tr:hover td
{
  background-color: #a0f000;
} 
div.line
{
  padding: 1px;
  height: 22px;
  border: 0px solid black;
}

div.dropdown
{
  position:relative;
  top:0;
  left:0;
  border:0px solid grey;
  width: 270px;
  z-index:5;
  font-size: 10px;
}

div.error {
      
      padding:5px 10px 5px 30px;
      color:#FFF;
      font-weight:bold;
      border:2px solid #CCCC99;
      margin:10px 0 5px 10px;
    }
    .validation-advice {
      
      color:#9E2522;
      font-size:85%;
      padding:8px 0 5px 22px;
    }

input[type=text] 
{
width: 170px;
height: 30px;
}
input[type=password]
{
width: 170px;
height: 30px;
} 

input :hover,  
input:focus
{  
  border-color: #000000; 
  border: 2px solid #ff0000;
} 
input{border-color: #000000; }
input[type='submit'],[type='reset'] 
{
  cursor:pointer;
  padding: 4px 15px;
  
}

table.game
{
  position: relative;
  border: 1px solid #c3c3c3;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width:60%;
}

table.game th
{
  background-color: #c3c3c3;
  border: 1px solid #a0a0a0;
  padding: 3px;
  vertical-align: top;
  font-size: 13px;
}
table.game td
{
  border: 1px solid #c3c3c3;
  padding: 3px;
  vertical-align: top;
  font-size: 12;
}
table.game tr td
{
  background-color: #FEFED8;
}
table.game tr.alt td
{
  background-color: #FEFEF8;
}
table.game tr td
{
  background-color: #FEFED8;
}
table.game tr.alt td
{
  background-color: #FEFEF8;
}

table.dropdown
{
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-align: left;
  width:270px;
  z-index:5;
}

table.dropdown tr
{
  border: 1px solid grey;
  background-color: #FEFED8;
}
table.dropdown tr:hover
{
  background-color: #a0f000;
}
table.dropdown tr.nav
{
  background-color: #c3c3c3;
}

table.game tr.d0:hover td,
table.game tr.d1:hover td,
table.game tr:hover td
{
  background-color: #a0f000;
} 

#Page
{

width:100%;
height:100%;
margin-left:auto;
margin-right:auto;
font-family:Verdana;
font-size:10pt;
background : #FFFFFF url(backrepeat.png) repeat-x top left;
}
#Header
{
width:900px;
height:180px;    
margin-left:auto;
margin-right:auto;
background : #5290DD url(logo2.png) no-repeat center;
border-left:1px solid #000000;
border-top:1px solid #000000;
border-right:1px solid #000000;
font-family:Verdana;
}
#Frame
{
width:900px;    
margin-left:auto;
margin-right:auto;
border:1px solid #000000;
background-color:#EFEFEF;
font-family:Verdana;
}
#Sidebar
{
width:150px;
float:left;
padding-left:5px;
font-family:Verdana;
text-align: left;
}
#C-Menu
{
width:595px;
padding-top:10px;
padding-bottom:0px;
margin-left:-10px;
height:30px;
margin-top:auto;
margin-bottom:auto;
font-family:Verdana;
text-align:center;
line-height:20px;
}
#Content
{
width:690px;
height:73%;
padding-left:25px;
padding-right:25px;
margin-left:0px;
max-height:100%;
overflow:auto;
background: transparent url(sil2.png) no-repeat center;
font-family:#282828 Verdana;
border-left:1px solid #000000;
text-align: left;
}
#Footer
{
width:900px;
height:22px;    
padding-top:3px;
margin-left:0px;
font-family:Verdana;
border-top:1px solid #000000;
background-color:#CCCC99;
text-align:center;
background : #FFFFFF url(backrepeat.png) repeat-x top left;
}
a.sidebar
{
margin-left:10px;
padding-left:15px;
padding-right:25px;
font-family:Verdana;
}
a.sidebar:link
{
color: #00005E;
background: transparent url(bullet.png) no-repeat bottom left;
text-decoration: none;
}
a.sidebar:visited
{
color: #00005E;
background: transparent url(bullet.png) no-repeat bottom left;
text-decoration: none;
}
a.sidebar:active
{
color: #00005E;
background: transparent url(bullet.png) no-repeat bottom left;
text-decoration: none;
}
a.sidebar:hover
{
color: #00005E;
background: transparent url(bullet.png) no-repeat bottom left;
text-decoration: none;
}
a.CMenu
{
padding-left:10px;
margin-bottom:5px;
padding-right:25px;
font-family:Verdana;
}
a.CMenu:link
{
color: #00005E;
background: transparent url(sep2.png) no-repeat right;
text-decoration: none;
}
a.CMenu:visited
{
color: #00005E;
background: transparent url(sep2.png) no-repeat right;
text-decoration: none;
}
a.CMenu:active
{
color: #00005E;
background: transparent url(sep2.png) no-repeat right;
text-decoration: none;
}
a.CMenu:hover
{
color: #00005E;
background: transparent url(sep2.png) no-repeat right;
text-decoration: none;
}
a.CMenu2
{
padding-left:10px;
padding-right:25px;
font-family:Verdana;

}
a.CMenu2:link
{
color: #00005E;
background: transparent;
text-decoration: none;
}
a.CMenu2:visited
{
color: #00005E;
background: transparent;
text-decoration: none;
}
a.CMenu2:active
{
color: #00005E;
background: transparent;
text-decoration: none;
}
a.CMenu2:hover
{
color: #00005E;
background: transparent;
text-decoration: none;
}
a.footer
{
padding-left:25px;
padding-right:25px;
font-family:Verdana;

}
a.footer:link
{
color: #00005E;
background:  transparent url(sep.png) no-repeat right;
text-decoration: none;
}
a.footer:visited
{
color: #00005E;
background: transparent url(sep.png) no-repeat top right;
text-decoration: none;
}
a.footer:active
{
color: #00005E;
background: transparent url(sep.png) no-repeat top right;
text-decoration: none;
}
a.footer:hover
{
color: #00005E;
background: transparent url(sep.png) no-repeat top right;
text-decoration: none;
}
a.footer2
{
padding-left:25px;
padding-right:25px;
font-family:Verdana;

}
a.footer2:link
{
color: #00005E;
background:  transparent;
text-decoration: none;
}
a.footer2:visited
{
color: #5290DD;
background: transparent;
text-decoration: none;
}
a.footer2:active
{
color: #00005E;
background: transparent;
text-decoration: none;
}
a.footer2:hover
{
color: #00005E;
background: transparent;
text-decoration: none;
}