/*
    Document   : wizard
    Created on : 27 Jul 2012, 12:18:39 PM
    Author     : fhulu
    Description:
        Purpose of the stylesheet follows.
*/

.wizard {
  padding: 0 !important;
}

.wizard-page {
  display: table-cell;
  padding: 0 8;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  padding
}

.wizard-bookmark-holder-left {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  padding: 4;
  height: 100%;
  font-size: 10pt;
  background-color: whitesmoke;
}

.wizard-bookmark-holder-left>.wizard-bookmark>* {
  display: inline-block;;
}

.wizard-bookmark-holder-left .wizard-bookmark-number {
  margin-right: 4px;
}

.wizard-bookmark-holder-left .wizard-bookmark-title {
  margin-right: 16px;
}

.wizard-state-pend {
  color: #777;
  cursor: not-allowed;
}

.wizard-state-active {
  color: white;
  background-color: darkcyan;
  cursor: done;
}

.wizard-state-done {
  color: darkcyan;
  background-image: url('tick16.png');
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
}


.wizard-navigate {
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  display: inline-block;
  width: 100%;
}

.wizard-navigate>*
{
  margin: 10px;
  float: right;
}

.wizard-navigate>.wizard-prev
{
  float: left;
}
