/*
    Document   : wizard
    Created on : 27 Jul 2012, 12:18:39 PM
    Author     : fhulu
    Description:
        Purpose of the stylesheet follows.
*/

.wizard-page
{
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
}

.wizard-nav
{
  position: relative;
  display: inline-block;
  border-top: 1px solid grey;
  padding-top: 5px;
  height: 40px;
  width: 100%;
  top: -2px;
  left: 8px;
}

.wizard-nav .action
{
  float: right;
}

.navigate #prev
{
  float: left;
}

.navigate>*
{
  float: right;
}

.wizard-bookmark
{
  padding: 3px 5px;
  height: 24px;
  position: relative;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform:rotate(270deg);
  transform: rotate(270deg);
}

.wizard-bookmark-active
{
  cursor: pointer;
  background-color: darkcyan;
}

.wizard-bookmark-inactive
{
  background: rgb(78,96,89);
}

.wizard-bookmark>*
{
  display: inline-block;
  height: 20px;
  color: white;
}

.wizard-bookmark-number
{
  width: 24px;
}

.wizard-content
{
  width: 100%;
  height: 100%;
  top: -10px;
  left: 10px;
  position: absolute;
}

.wizard-content #validate
{
  display: none;
}

.wizard .navigate
{
  position: absolute;
  border-top: 1px solid lightgrey;
  bottom: 0px;
  padding-top: 10px;
  width: 100%;
}
