/*
    Document   : wizard
    Created on : 27 Jul 2012, 12:18:39 PM
    Author     : fhulu
    Description:
        Purpose of the stylesheet follows.
*/

.wizard {
  padding: 0 !important;
}

.wizard-page {
  display: table-cell;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.wizard-content {
  width: 100%;
}

.wizard-bookmark-holder-left {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  height: 100%;
  font-size: 10pt;
  background-color: whitesmoke;
}

.wizard-bookmark-holder-left+.wizard-page {
  width: 80%;
}

.wizard-bookmark {
  padding: 3px 4px;
}

.wizard-bookmark-holder-left>.wizard-bookmark>* {
  display: inline-block;
  padding: 0px 4px;
}

.wizard-bookmark-holder-left .wizard-bookmark-title {
  padding-right: 20px;
}

.wizard-state-active {
  color: white;
  background-color: darkcyan;
  cursor: default;
}

.wizard-state-done, .wizard-state-visited {
  color: darkcyan;
}

.wizard-state-done {
  cursor: pointer;
}

.wizard-state-done>.wizard-bookmark-title{
  background-image: url('tick16.png');
  background-position: center right;
  background-repeat: no-repeat;
}

.wizard-state-pend, .wizard-state-committed {
  color: #777;
  cursor: not-allowed;
}

.wizard-navigate {
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  display: inline-block;
  width: 100%;
}

.wizard-navigate>*
{
  margin: 10px;
  float: right;
}

.wizard-navigate>.wizard-prev
{
  float: left;
}
